# Ignore environment variable files
.env

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
